<!DOCTYPE html>
<html>
<head>
  <title>Bookmark Manager</title>
</head>
<body>

  <h1>Bookmarks:</h1>
    <ul>
      <% @mark.each do |bookmark| %>
        <li class="bookmark" id="bookmark-<%= bookmark.id %>">
          <a href="<%= bookmark.url %>">
            <%= bookmark.title %>
          </a>
          <form action="/bookmark/<%= bookmark.id %>" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type='submit' value='delete'>
          </form>
          <form action="/bookmark/<%= bookmark.id %>/update" method="get">
            <input type='submit' value='update'>
          </form>
        </li>
      <% end %>
    </ul>
  
    <p>
    <form action='/new_bookmark' method="get">
    <button type="submit" name="add_bookmark">New Bookmark</button>
    </form>
    </p>
  </body>
  </html>
